<div class="text-field">
  <%= form.label :title %>
  <%= form.text_field :title, type: 'Title/Rank' %>
</div>

<div class="text-field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name, type: 'First Name' %>
</div>

<div class="text-field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name, type: 'Last Name' %>
</div>

<div class="text-field">
  <%= form.label :user_name %>
  <%= form.text_field :user_name, type: 'User Name' %>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'Email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div> 
