<p><%= @order.tracking_num %> / <%= @order.member.rank %> <%= @order.member.last_name %>: Order Date: <%= order.ordered %></p>

<p>Reviewed Date: <%= @order.reviewed %>   Proof Sent: <%= order.proof_sent %></p>

<p>Revisions: [put a default or current version here].  Delay message, if necessary. <%= order.delay_msg %></p>

<p>Print Date: <%= order.printed %> Date Shipped: <%= order.shipped %></p>

<hr>

<!--  Orders
      t.references :user
      t.references :member
      t.references :shipping
      t.references :payfwd
      t.date :ordered
      t.date :reviewed
      t.date :proof_sent
      t.date :proof_rev1
      t.date :proof_rev2
      t.date :order_paid
      t.date :printed
      t.date :shipped
      t.string :tracking_num
      t.string :remarks
      t.string :delay_msg
      t.string :exception
-->