<tr>
<td><%= pay_forward.date_paid %></td><td><%= pay_forward.date_issued %></td><td><%= pay_forward.know_from %></td><td><%= pay_forward.know_to %></td><td><%= pay_forward.gift_note %></td>
</tr>

<!-- <td><%#= pay_forward.date_paid %></td><td><%#= pay_forward.date_issued %></td><td><%#= pay_forward.know_from %></td><td><%#= pay_forward.know_to %></td><td><%#= pay_forward.gift_note %></td> -->
<!-- <p>Remarks: <%#= @pay_forward.remarks %> --> 
