<%= form_for @member do |f| %>
  <% if @member.errors.any? %>
    <div class='errors'>
    <h2>Uh oh, errors!</h2>
    <% @member.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
    </div>
  <% end %>
<hr>
  <div class='field'>
     <%= f.label :service_number, 'Service Number' %>
     <%= f.text_field :service_number %>
  </div>
<br>
  <div class='field'>
      <%= f.label :rank, 'Rank'  %>
      <%= f.collection_select :rank, Rank.all.order(:priority), :id, :rank %>
  </div>
<br>
  <div class='field'>
      <%= f.label :first_name, 'First Name' %>
      <%= f.text_field :first_name %>
  </div>

  <div class='field'>
      <%= f.label :last_name, 'Last Name' %>
      <%= f.text_field :last_name %>
  </div>

  <div class='field'>
      <%= f.label :nick_name, 'Nickname/Call Sign' %>
      <%= f.text_field :nick_name %>
  </div>

  <div class='field'>
      <%= f.label :initials, 'Initials' %>
      <%= f.text_field :initials %>
  </div>

  <div class='field'>
      <%= f.label :decorations, 'Decorations' %>
      <%= f.text_field :decorations %>
  </div>

  <div class='field'>
      <%= f.label :years_service, 'Years of Service' %>
      <%= f.text_field :years_service %>
  </div>

  <div class='field'>
      <%= f.label :start_branch, 'Branch Enrolled' %>
      <%= f.text_field :start_branch %>
  </div>

  <div class='field'>
      <%= f.label :end_branch, 'Branch Retired' %>
      <%= f.text_field :end_branch %>
  </div>      

  <div class='field'>
      <%= f.label :commemoration %>
      <%= f.check_box :commemoration %>
  </div> 
  <br>
  <div class='field'>
      <%= f.label :sign_block %>
      <%= f.check_box :sign_block %>
  </div> 
  <br>
  <div class='field'>
      <%= f.label :trim_color %>
      <%= f.collection_select :trim_color, ColorTrim.all, :id, :trim_color %>
  </div>
  <br>        
  <div class='field'>
      <%= f.submit 'Save' %>
  </div>

<% end %>

<%#= f.collection_select :service_number, memberType.all, :id, :name %>
<%#= text_area_tag(:message, "Hi, nice site", size: "24x6") %>
<%#= password_field_tag(:password) %>
<%#= hidden_field_tag(:parent_id, "5") %>
<%#= search_field(:user, :name) %>
<%#= telephone_field(:user, :phone) %>
<%#= date_field(:user, :born_on) %>
<%#= datetime_field(:user, :meeting_time) %>
<%#= datetime_local_field(:user, :graduation_day) %>
<%#= month_field(:user, :birthday_month) %>
<%#= week_field(:user, :birthday_week) %>
<%#= url_field(:user, :homepage) %>
<%#= email_field(:user, :address) %>
<%#= color_field(:user, :favorite_color) %>

<!--Future background/watermark image upload option: -->
<%#= form_for @person do |f| %>
  <%#= f.file_field :picture %>
<%# end %>

<!--  t.integer :years_service
      t.integer :start_branch
      t.integer :end_branch
      t.string :commemoration
      t.integer :trim_color
      t.integer :sign_block  -->