<p><%= link_to 'Back to Members', user_path(current_user) %></p>

<p>Originally entered by: <%= @member.user.title %> <%= @member.user.last_name %> </p>
<hr>
<p><%= @member.rank %> <%= @member.last_name %>'s Personal Information</p>

<p><%= @member.first_name %> <%= @member.initials %> <%= @member.nick_name %> <%= @member.decorations %>

<p>Years of Service: <%= @member.years_service %>
<p>Starting Branch:  <%= @member.start_branch %>  Ending Branch:  <%= @member.end_branch %>

<p>Commemoration:  <%= @member.commemoration %>
<p>Signature Block?  <%= @member.sign_block %>
<p>Trim color selected: <%= @member.trim_color %>
<hr>
<p><%= @member.rank %> <%= @member.last_name %>'s Career:</p>

<table border="1">
<tr>
<th>Unit</th><th>Location</th><th>Start Date</th><th>End Date</th>
</tr>
<%= render @member.postings %>
</table>

